<h1>Contact</h1>
<p>My Phone <%= number_to_phone "555555555" %></p>
<p>My Hourly Price <%= number_to_currency "150" %></p>
<p>My Accuracy <%= number_to_percentage "80.4" %></p>
<p>Learning Hours <%= number_with_delimiter "55555" %></p>
<p><a href="mailto:lubiemise.com?subject=Wspolpraca" "email me">Email me</a></p>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.947532777051!2d20.96943001576217!3d52.17164737974974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719331156665699%3A0x9843dffc1b5a0020!2s%C5%BBwirki%20i%20Wigury%201%2C%20Warszawa!5e0!3m2!1spl!2spl!4v1642515661517!5m2!1spl!2spl" width="900" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>